@font-face {
    font-family: 'AvenirNextCyrR';
    src: url('../../fonts/AvenirNextCyr-Regular.woff');
}

@font-face {
    font-family: 'AvenirNextCyrB';
    src: url('../../fonts/AvenirNextCyr-Bold.woff');
}

@font-face {
    font-family: 'AvenirNextCyrL';
    src: url('../../fonts/AvenirNextCyr-Light.woff');
}
/*col-md-7*/
.start-screen {
    display: block;
}
.wrap-header {
    display: flex;
    justify-content: center;
    padding: 20px 0 14px 0;
}

.bg-start-screen {
    background: url('../../images/bg.png') center;
    background-size: cover;
    padding-bottom: 100px;
}

.subtitle {
    font-size: 18px;
    font-family: 'AvenirNextCyrR', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 100px 0 0 100px;
}

.bg-start-screen
.content
h1 {
    font-size: 80px;
    font-family: 'AvenirNextCyrB', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    padding: 20px 0 0 96px;
}

.project-name {
    font-size: 14px;
    font-family: "AvenirNextCyrL", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 110px 0 0 100px;
    display: flex;
}

.wrap-input-button {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 600px;
    margin-left: 100px;
    border-bottom: 1px rgba(255, 255, 255, .3) solid;
}

.project-input {
    font-size: 30px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(255, 255, 255, 0.302);
    line-height: 1.5;
    background: transparent;
    border: unset;
    width: 100%;
}
input#name-system:focus {
    outline: unset;
}
.button-create {
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: "AvenirNextCyrB", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding: 6px 28px;
    border-color: rgb(0, 0, 0);
    margin: 0 0 6px 0;
}
.placeholders  .example {
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    padding: 4px 0 0 100px;
}
.placeholders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;

}
.placeholders p span{
    background-color: rgba(0, 0, 0, 0.302);
    padding: 2px 8px;
    border-radius: 12px;
}
.placeholders p {
    font-size: 12px;
    font-family: "AvenirNextCyrL", sans-serif;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.5;
    padding-top: 4px;
}
/*col-md-5*/
.template {
    padding: 100px 0 0 0;
}
.template
.title {
    font-size: 18px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
p.content{
    font-size: 14px;
    font-family: "AvenirNextCyrL", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    max-width: 370px;
}
.item-1, .item-2, .item-3{
    border-radius: 3px;
    background: rgb(255, 255, 255);
    margin: 4px;
    max-width: 174px;
}
.group {
    display: flex;
    max-width: 472px;
    flex-wrap: wrap;
}
.wrap-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-img img {
    padding: 18px 0 0 0;
}
.wrap-img p {
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
}
.group .description {
    font-size: 12px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: #888;
    padding: 6px;
    margin-bottom: 2px;
}
.group .wrap-href {
    font-size: 18px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-weight: 500;
}
.wrap-href:hover {
    text-decoration: unset;
}
.group .wrap-href span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.302);
}
.item-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
}
.template ul {
    display: flex;
    padding-left: 186px;
}
.template ul li {
    color: #b4adbe;
    padding: 8px;
    cursor: pointer;
}
.template ul .active {
    color: #fff;
}
