.tutorial {
    background: #fafafa;
}
.wrap-menu-nav {
    display: flex;
    align-items: center;
}
.wrap-menu-nav span {
    width: 20px;
}
.wrap-menu-nav p {
    font-size: 12px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.5;
    margin: 0;
    align-items: center;
    display: flex;
}
.menu-nuv {
    padding: 0 10px 0 20px;
}
.tutorial-header {
    align-items: center;
    border-bottom: 1px solid #afafaf;
    padding: 6px 0 24px 0;
    margin: 0 0 14px 0;
}
/*menu*/
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 46px;
    height: 86px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    border-radius: unset;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}
.c-hamburger span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 2px;
    background: #000;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    content: "";
}

.c-hamburger span::before {
    top: -8px;
}

.c-hamburger span::after {
    bottom: -8px;
}
.c-hamburger--htx {
    background-color: #fafafa;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
    background-color: #fafafa;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.tutorial .title-header-t {
    font-size: 30px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1;
    margin: 0;
}

.wrap-data-created {
    display: flex;
    align-items: center;
}
.wrap-data-created p {
    margin: 0;
    display: flex;
    padding: 4px 0 0 0;
}
.wrap-data-created p span {
    font-size: 12px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.102);
    padding: 2px 8px;
    border-radius: 12px;
}
.tutorial-header .data-created {
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.5;
    padding: 0 0 0 14px;
}

.wrap-title-created {
    padding: 24px 0 0 0;
}
.wrap-mini-logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.desc-logo {
    font-size: 12px;
    font-family: "AvenirNextCyr", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.5;
    padding: 0 0 0 18px;
    margin: 0;
}
.create-door {
    border: 1px dashed rgba(0, 0, 0, 0.302);
    flex: 364px 0 0;
    margin: 8px;
}
.wrap-tutorial-content {
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.wrap-create-door {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrap-create-door button, .button-ok {
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: "AvenirNextCyrB", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding: 6px 8px;
    border-color: rgb(0, 0, 0);
    margin: 30px 0 0 0;
}
.or {
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.5;
    padding: 12px 0 0 0;
    margin: 0;
}
.some-door {
    margin: 0;
}
.some-door a {
    font-size: 18px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0 0 0 10px;
}
.some-door a {
    border-bottom: 1px solid #afafaf;
    cursor: pointer;
}
.some-door a:hover {
    text-decoration: none;
}
.wrap-img-some-door {
    display: flex;
    align-items: center;
    padding: 0 0 28px 0;
}
.instruction-href {
    border-bottom: 1px solid #afafaf;
    margin: 0 0 18px 0;
}
.instruction-href a {
    font-size: 12px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.702);
    line-height: 1.5;
    margin: 0 0 18px 0;
    display: inline-flex;
}
.instruction-href a:hover {
    text-decoration: none;
}
.wrap-instructions {
    padding: 0 0 0 94px;
}
.tutorial .title-item,
 .tutorial .title-item a {
    font-size: 18px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0 0 10px 0;
}
.tutorial .title-item a {
    border-bottom: 1px solid #afafaf;
}
.tutorial .title-item a:hover {
    text-decoration: none;
}
.tutorial .desc-item {
    font-size: 14px;
    font-family: "AvenirNextCyrL", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0;
}
.tutorial [class*=item-instruction-] {
    max-width: 364px;
    padding: 20px;
    margin: 0 0 8px 0;
    border-width: 1px;
    border-color: #afafaf;
    border-style: solid;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.102);
    box-shadow: 0 10px 30px 0 rgba(63, 18, 166, 0.15);
}
.tutorial [class*=item-instruction-]:hover {
    background: #fbfbfb;
}

.fadeIn {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut  {
    animation: fade_out 2s;
    -moz-animation: fade_out 2s; /* Firefox */
    -webkit-animation: fade_out 1s; /* Safari and Chrome */
    -o-animation: fade_out 2s; /* Opera */
}
@keyframes fade_out {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fade_out { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fade_out { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

.hide-dom {
    display: none;
}
.head-door {
    display: flex;
    background: #e5e5e5;
    padding: 12px 20px 0 20px;
    cursor: pointer;
}
.wrap-name-door {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    padding: 0 0 0 20px;
}
.wrap-name-door p {
    margin: 0;
}
.wrap-name-door .desc-door {
    font-size: 12px;
}
.wrap-image-door {
    overflow: hidden;
    max-height: 76px;
}
.content-door .owner {
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 0;
}
.content-door .owner span {
    background: #ffdb85;
    padding: 2px 8px 4px 50px;
    border-radius: 12px;
}
.content-door-wrap-img {
    display: flex;
    align-items: center;
    position: relative;
    right: 14px;
    padding: 0 0 6px 0;
}
.content-door-wrap-img img {
    position: relative;
    left: 36px;
    background-image: url("../../images/key.png");
    background-size: initial;
}
.c-door {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 7px 0 rgba(63, 18, 166, 0.1);
    margin: 8px;
    max-width: 364px;
    min-width: 362px;
    min-height: 155px;
}
.c-door:hover {
    background: #fbfbfb;
}
.c-door .content-door {
    background: #ffffff;
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content-door .add-key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border: 1px solid rgba(159, 159, 159, 0.302);
    border-radius: 50%;
    cursor: pointer;
    margin: 0 20px 4px 12px;
    align-self: center;
    line-height: 1.3;
    font-size: 14px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
/*.content-door .add-key span {*/
    /*font-size: 14px;*/
    /*font-family: "AvenirNextCyrR", sans-serif;*/
    /*color: rgb(0, 0, 0);*/
    /*font-weight: bold;*/
/*}*/
.wrap-modal .modal-dialog {
    max-width: 364px;
}
.wrap-modal .modal-header,
.wrap-modal .modal-footer {
    border: unset;
}
.button-ok {
    margin: 0;
}
.wrap-modal .number-door-custom {
    font-size: 30px;
    font-family: "AvenirNextCyrR", sans-serif;
    color: rgba(0, 0, 0, 0.302);
    line-height: 1.5;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.302);
}